:root {
    --bg-primary-color: #f0f0f0;
    --bg-secondary-color: #292929;

    --text-primary-color: #D91E2E;
    --text-secondary-color: #fff;
    --text-tertiary-color: #8C2034;

}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--bg-secondary-color);
    color: var(--text-primary-color);
    font-family: Arial, sans-serif;
}