table {
    width: 100%;
    border-collapse: collapse; /* JUNTA AS BORDAS */
    margin-top: 10px;
    background: var(--card);
}

th, td {
    border: 1px solid #444;
    padding: 12px;
    text-align: center;
    font-size: 0.9rem;
}

th { background-color: #111; color: var(--primary); }

/* Filtros e Controles */
.controls, .filter-bar {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
    flex-wrap: wrap;
}

input, select, button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #444;
    background: #333;
    color: white;
}

button { cursor: pointer; border: 1px solid var(--primary); color: var(--primary); font-weight: bold; }
button:hover { background: var(--primary); color: white; }

/* Modal */
.modal {
    display: none;
    position: fixed;
    top: 0; left: 0; width: 100%; height: 100%;
    background: rgba(0,0,0,0.8);
    justify-content: center; align-items: center;
}

.modal-content {
    background: var(--card);
    padding: 25px;
    border-radius: 10px;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#formRegistro { display: flex; flex-direction: column; gap: 10px; }
.time-group { display: flex; justify-content: space-between; }
